* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: #4c4c4c;
}
.container-width {
  margin: 0 auto;
  max-width: 2500px;
}
a:hover {
  transition: all 0.2s linear;
  border: 0px;
}
input:hover,
textarea:hover,
select:hover,
button:hover {
  transition: all 0.2s linear;
  border-color: unset;
  outline-color: unset;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  outline-color: unset;
  border-color: unset;
}
div.menuToggle {
  display: none;
}
.menu-open {
  position: absolute;
  left: 120px;
  top: 100px;
}
.menu-open a {
  display: block;
  border-bottom: 1px solid white;
  background-color: #313030;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
}
.menu-open a:hover {
  background-color: #ff3f40;
  transition: all 0.2s linear;
}
.sub-menu.menu-close {
  display: none;
}
.main-menu {
  margin: 30px auto 0;
  list-style: none;
  background-color: #313030;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-menu a {
  display: inline-block;
  line-height: 30px;
  padding: 30px 20px;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
}

.main-menu ul {
  text-align: center;
}

.main-menu li {
  display: inline-block;
  margin-right: 5px;
}
.main-menu a:hover {
  background-color: #ff3f40;
  transition: all 0.2s linear;
}

.d-lg-flex.align-items-center.section-margin--large {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.container2 {
  display: flex;
  width: 50%;
}
.about__video {
  display: flex;
  width: 50%;
}
.about__video video {
  width: 90%;
  overflow: hidden;
}
.about__content h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
}
.about__content {
  width: 100%;
  padding: 50px 0;
}
.hcolor {
  color: #000;
  text-transform: uppercase;
  padding: 10px;
}
.about__content p {
  margin: 0px auto 50px;
  font-size: 1rem;
}
.button.mt-xl-3 {
  padding: 10px;
  background-color: #ff2d2d;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.button.mt-xl-3:hover {
  background-color: #2dff3e;
  border-radius: 10px;
}
.bac-section-margin--large {
  width: 100%;
  background-color: #f6f2f2;
}
.video-play-button {
  box-shadow: 0 0 30px 0 black;
  margin: 10%;
}

.content h1 {
  margin: 50px 0 20px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}
.button.mt-xl-4 {
  padding: 10px 25px;
  background-color: white;
  border: solid 2px #ff2d2d;
  border-radius: 10px;
  color: #ff2d2d;
  text-decoration: none;
}
.button.mt-xl-4:hover {
  background-color: #2dff3e;
  color: white;
  border: solid 2px white;
}
.rev {
  margin: 50px 0;
}
.d-lg-flex.align-items-center {
  display: flex;
}
.container-question {
  display: flex;
  width: 44%;
  margin: 0px auto;
  padding: 3%;
}
.grid {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3%;
}
.container-Management,
.container-Animation {
  display: flex;
  padding: 10px;
}
.container-Management .container,
.container-Animation .container {
  width: 46%;
  padding: 2%;
}
.grid h4 {
  font-size: 1.5rem;
}

.grid img {
  margin-bottom: 20px;
}
.content-flex {
  font-size: 1rem;
}
.products {
  text-align: center;
}
.products h2 {
  color: #000;
  font-size: 1.875rem;
  margin: 100px 0 30px;
  text-transform: uppercase;
}
.products-border {
  margin: 50px auto;
  width: 100%;
  height: 1px;
  border-top: 2px solid #ececec;
}
.products-list {
  background-color: white;
  color: #4c4c4c;
  font-weight: bold;
}
.products-border1 {
  margin: 20px auto;
  width: 100px;
  height: 1px;
  border-top: 2px solid #ff2d2d;
}
.products-top,
.products-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-top img,
.products-bottom img {
  filter: grayscale(1) blur(1px);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.foto-size {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.products-foto img:hover {
  transition: all 0.2s linear;
  filter: grayscale(0) blur(0px);
  transform: scale(1.1);
}
.products-text.Meet {
  text-align: left;
  margin: 70px 10%;
}
.products-text.mark-waugh p {
  padding: 10px;
}
.mark-waugh-img {
  width: 150px;
  height: 200px;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
}
.products-border1.border2 {
  margin: 20px 0px 50px;
}
.products-text.Meet .hcolor {
  font-size: 2.625rem;
  margin-bottom: 20px;
  margin-top: 140px;
}
.products-list li {
  padding: 0 20px;
  display: inline-block;
  margin-right: 5px;
  border: none;
}
.menu-foto {
  font-size: 1.375rem;
  padding: 10px 0px;
  color: #4c4c4c;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.products-list button:hover {
  color: #ff3f40;
  border: none;
}
.products-list button:active {
  color: #ff3f40;
  border: none;
}

.products-list.all ul {
  text-transform: uppercase;
  text-align: center;
}
.feature-products1 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-around;
}
.container-full-foto {
  min-width: 300px;
  max-width: 300px;
  height: 400px;
}
.full-photo {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.products-text.mark-waugh {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.mark-waugh-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.foto.mark-waugh {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form {
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  padding: 30px;
  text-shadow: black 1px 1px 1px;
  position: relative;
  margin: 30px auto;
  width: 80%;
  height: 500px;
  overflow: hidden;
  align-items: flex-end;
  background-size: cover;
}
.img-one {
  background-image: url(../img/banners/hero-banner.png);
}
.img-two {
  background-image: url(../img/banners/1500x500.jpg);
}
.img-three {
  background-image: url(../img/banners/1500x501.jpg);
}
.half-width {
  display: inline-flex;
}
.half-width.max {
  margin: 60px auto;
}
.email {
  padding: 2px 100px 2px 10px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.button.mt-xl-3 {
  border: 0px;
}
.buttons {
  margin: auto 10px;
}

.form-fieldset {
  display: flex;
  justify-content: space-around;
  position: relative;
}
fieldset {
  width: 56%;
  display: flex;
  border: 0;
  justify-content: space-between;
  margin: 0 50px;
}
input,
textarea {
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #e5e5e5;
  resize: none;
  cursor: pointer;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
}

.buttons2 {
  margin: 10px 5%;
}
textarea {
  font-size: 1rem;

  width: 90%;
}
input:hover,
textarea:hover {
  background-color: #d6d3d3;
  outline: none;
}

.input1 {
  width: 40%;
}

section.form-fieldset {
  margin-bottom: 110px;
}
.contact-info {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #313030;
  color: white;
  padding: 5%;
  width: 44%;
}
.contact-info a {
  text-align: left;
  margin-left: 0;
}
.contact-info h5 {
  text-transform: uppercase;
}
.footer-top {
  height: 110px;
  margin-top: 30px;
  color: #8c8c8c;
  display: flex;
  justify-content: space-between;
  background-color: #313030;
  padding-left: 50px;
}
.contact-info a {
  color: white;
}
.contact-info a:hover {
  color: #ff3f40;
}
.contact-info p {
  width: 90%;
}
.footer-top__social {
  display: flex;
  justify-content: space-around;
}
.footer-top__social i {
  padding: 10px;
}
.footer-icon {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.footer-p {
  display: flex;
  align-items: center;
}
.footer-top__social i:hover {
  color: #ff3f40;
  transition: all 0.2s linear;
}

.grid img {
  transition: all 0.5s linear;
}
.grid img:hover {
  opacity: 0.6;
  transform: scale(1.1) rotate(360deg);
}

input {
  font-size: 1rem;

  box-shadow: 0px;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer-icon-conteiner {
  background: white;
  border-radius: 50%;
  margin: 5px;
}
i {
  color: #4c4c4c;
}

/*button
 */
.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  color: #4c4c4c;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #4c4c4c;
  outline-color: #b6aaff;
}

.up-button:hover {
  color: #ff3f40;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #ff3f40;
  outline: none;
}
.shown {
  display: inline-block;
}
div#menuToggle {
  width: 0px;
  margin-left: 0;
}
/* slider=============================================== */
.container-slider {
  position: relative;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 5%;
  width: auto;
  padding: 30px 16px;
  margin: 10%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(163, 163, 163, 0.8);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(163, 163, 163, 0.3);
}

.background-menu {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* menu================================================== */
.products-foto {
  display: none;
}
.foto-active {
  display: block;
}
.btn-active {
  color: #ff3f40;
}

.gallery__photo-preview {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
}
/* popup================================================ */

.card__button {
  padding: 10px;
  background-color: #ff2d2d;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card__button:hover,
.card__button:focus {
  background-color: #82da03;
}

.card__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #6cb502;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal--show {
  display: block;
}

.modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.modal__content {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 40%;
  background-color: #ffffff;
  box-shadow: -1px 5px 12px 0 rgba(89, 90, 90, 0.3);
  z-index: 2;
  padding: 10px 50px;
}
.comment-list {
  font-size: 2rem;
  padding: 20px;
}
.modal__button {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background: none;
  border: 0;
}

.modal__button::after,
.modal__button::before {
  content: "";

  position: absolute;
  right: 0;
  top: 20px;

  width: 26px;
  height: 6px;
  margin: -13px -3px;

  background-color: #7656de;
}

.modal__button::before {
  transform: rotate(45deg);
}

.modal__button::after {
  transform: rotate(-45deg);
}

.modal__button:hover::after,
.modal__button:hover::before,
.modal__button:focus::after,
.modal__button:focus::before {
  background-color: #9b7ff7;
}

.modal__button:active::after,
.modal__button:active::before {
  background-color: #4023a0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
